
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    padding: 15px;
    margin: 10px;
    border: 1px solid black;
    background-color: darkgreen;
    border-radius: 10px;
    cursor: pointer;
}

.card-name{
    font-size: 20px;
    font-weight: bold;
    color: ghostwhite; 
    font-family:monospace;
}

.card-img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-top: 10px;
}