*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color:#ffde00;
}

.Heading{
    text-align: center;
    color:#cc0000;
    margin: 20px 0;
    font-weight: 800;
    font-family: cursive;
}
.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.search-input{
    padding: 15px;
    width: 70%;
    margin: 20px auto;
    display: block;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: auto;
    cursor: pointer;
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    color: firebrick;
    font-size: 24px;
    margin-top: 50px;
}

.type-filter{
    display: block;
    margin: 0 auto 20px auto;
    padding: 10px;
    width: 200px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
}

.type-filter:hover{
    border-color: #ff0000;
}

.filter-label{
    display: block;
    text-align: center;
    margin-bottom: 5px;
    font-size: 18px;
    color:rgb(8, 118, 50);
    font-weight: 600;
}

.pagination{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.pagination button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ff0000;
    color: white;
}

.pagination button:disabled{
    background-color: gray;
    cursor: not-allowed;
}

.pagination span{
    font-size: 18px;
    font-weight: bold;
}

.not-found{
    display: flex;
    justify-content: center;
    align-items: center;
    color:cornflowerblue;
    font-size: 24px;
    background-color: lemonchiffon;
    padding: 30px;
    width: auto;
}

